@model EventSummaryViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@* <div class="card-container">
    <div class="card">
        <div class="card-title">
            <h2>EVENT DETAILS</h2>
        </div>
        <div class="card-list">
            <ul class="list">
                <li class="listItem"><i class="fa-solid fa-address-card"></i>Toplantı İsmi : @ViewBag.Event.EventName </li>
                <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Toplantı Tarihi : @ViewBag.Event.EventTime </li>
                <li class="listItem"><i class="fa-solid fa-location-dot"></i>Toplantı Platformu : @ViewBag.Event.EventPlatform </li>
                <li class="listItem" style="height:120px"><i class="fa-solid fa-square-plus"></i>Toplantı Açıklaması : @ViewBag.Event.EventDescription </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>Participants/Votes</h2>
        </div>
        <div class="card-list">
            <ul class="list">
                @foreach (var item in Model.Users)
                {
                    @item.Name <span> = </span> @item.Votes.Select(v => v.VoteOption).FirstOrDefault()
                    <br />
                }
            </ul>
        </div>
    </div>
</div>
<br />
<div>
    <label>Event'e Davet Etmek İstediğiniz Emailler : </label>
    <input type="email" />
</div> *@


<main class="summarypagemain">
    <div class="card-container card-containerSummary">
        <div class="card">
            <div class="card-writing">
                <p>EVENT DETAILS</p>
            </div>
            <div class="card-list">
                <ul class="list">
                    <li class="listItem"><i class="fa-solid fa-address-card"></i>Event Name : @ViewBag.Event.EventName </li>
                    <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Event Date : @ViewBag.Event.EventTime1 </li>
                    <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Event Date : @ViewBag.Event.EventTime2 </li>
                    <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Event Date : @ViewBag.Event.EventTime3 </li>
                    <li class="listItem"><i class="fa-solid fa-location-dot"></i>Event Platform : @ViewBag.Event.EventPlatform </li>
                    <li class="listItem" style="height:120px"><i class="fa-solid fa-square-plus"></i>Event Description : @ViewBag.Event.EventDescription </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-list">
                <ul class="list">
                    <li class="listItem"><i class="fa-solid fa-address-card"></i>Participants/Votes</li>
                    <br />
                    <table>
                        <thead>
                            @if(Model.eventt.EventTime1 != null)
                            {
                            <th style="border: 1px solid; padding: 5px">@Model.eventt.EventTime1</th>
                            }
                            @if (Model.eventt.EventTime2 != null)
                            {
                            <th style="border: 1px solid; padding: 5px">@Model.eventt.EventTime2</th>
                            }
                            @if (Model.eventt.EventTime3 != null)
                            {
                            <th style="border: 1px solid; padding: 5px">@Model.eventt.EventTime3</th>
                            }
                        </thead>
                        <tbody>
                            @foreach (var item in Model.votess)
                            {
                                <tr>
                                    @foreach (var eventTime in new[] { Model.eventt.EventTime1, Model.eventt.EventTime2, Model.eventt.EventTime3 })
                                    {
                                        <td>
                                            @if (item.VoteOptions.Count > 0)
                                            {
                                                var voteOption = item.VoteOptions.FirstOrDefault(vo => vo?.VoteValue == eventTime.ToString());
                                                if (voteOption != null)
                                                {
                                                    <span>@item.ParticipantName</span>
                                                }
                                                else
                                                {
                                                    <span> --- </span>
                                                }
                                            }
                                            else
                                            {
                                                <span> --- </span>
                                            }
                                        </td>
                                    }
                                </tr>
                            }

@*                             @foreach (var item in Model.votess)
                            {
                                <tr>
                                    <td>
                                        @if (item.VoteOptions.Count > 0)
                                        {
                                            @if (item.VoteOptions[0] != null && item.VoteOptions[0].VoteValue == Model.eventt.EventTime1.ToString())
                                            {
                                                <span>@item.ParticipantName</span>
                                            }
                                            else
                                            {
                                                <span> --- </span>
                                            }
                                        }
                                        else
                                        {
                                            <span> --- </span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.VoteOptions.Count > 1)
                                        {
                                            @if (item.VoteOptions[1] != null && item.VoteOptions[1].VoteValue == Model.eventt.EventTime2.ToString())
                                            {
                                                <span>@item.ParticipantName</span>
                                            }
                                            else
                                            {
                                                <span> --- </span>
                                            }
                                        }
                                        else
                                        {
                                            <span> --- </span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.VoteOptions.Count > 2)
                                        {
                                            @if (item.VoteOptions[2] != null && item.VoteOptions[2].VoteValue == Model.eventt.EventTime3.ToString())
                                            {
                                                <span>@item.ParticipantName</span>
                                            }
                                            else
                                            {
                                                <span> --- </span>
                                            }
                                        }
                                        else
                                        {
                                            <span> --- </span>
                                        }
                                    </td>
                                </tr>
                            } *@
                        </tbody>
                    </table>
                </ul>
            </div>
        </div>
    </div>       
    <div class="text-container">
@*         <label>Event Link : @ViewBag.Event.EventFullUrl </label>
 *@        @* <input type="email">
        <button type="submit">Gönder</button> *@
        <label>Event Link : </label>
        <a href="@ViewBag.EventFullUrl">@ViewBag.Event.EventFullUrl</a>
    </div>
</main>