@model EventSummaryViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@* <div class="card-container">
    <div class="card">
        <div class="card-title">
            <h2>EVENT DETAILS</h2>
        </div>
        <div class="card-list">
            <ul class="list">
                <li class="listItem"><i class="fa-solid fa-address-card"></i>Toplantı İsmi : @ViewBag.Event.EventName </li>
                <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Toplantı Tarihi : @ViewBag.Event.EventTime </li>
                <li class="listItem"><i class="fa-solid fa-location-dot"></i>Toplantı Platformu : @ViewBag.Event.EventPlatform </li>
                <li class="listItem" style="height:120px"><i class="fa-solid fa-square-plus"></i>Toplantı Açıklaması : @ViewBag.Event.EventDescription </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>Participants/Votes</h2>
        </div>
        <div class="card-list">
            <ul class="list">
                @foreach (var item in Model.Users)
                {
                    @item.Name <span> = </span> @item.Votes.Select(v => v.VoteOption).FirstOrDefault()
                    <br />
                }
            </ul>
        </div>
    </div>
</div>
<br />
<div>
    <label>Event'e Davet Etmek İstediğiniz Emailler : </label>
    <input type="email" />
</div> *@


<main class="summarypagemain">
    <div class="card-container card-containerSummary">
        <div class="card">
            <div class="card-writing">
                <p>EVENT DETAILS</p>
            </div>
            <div class="card-list">
                <ul class="list">
                    <li class="listItem"><i class="fa-solid fa-address-card"></i>Event Name : @ViewBag.Event.EventName </li>
                    <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Event Date : @ViewBag.Event.EventTime </li>
                    <li class="listItem"><i class="fa-solid fa-location-dot"></i>Event Platform : @ViewBag.Event.EventPlatform </li>
                    <li class="listItem" style="height:120px"><i class="fa-solid fa-square-plus"></i>Event Description : @ViewBag.Event.EventDescription </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-list">
                <ul class="list">
                    <li class="listItem"><i class="fa-solid fa-address-card"></i>Participants</li>
                    <br />
                    @* @if (ViewBag.Users != null)
                    { *@
                    @foreach (var item in Model.Users)
                    {
                        @item.Name
                        <span> = </span> @item.Votes.Select(v => v.VoteOption).FirstOrDefault()
                        <br />
                    }
                    @*  } *@
                </ul>
            </div>
        </div>
    </div>
    <div class="text-container">
        <label for="">Email Girin</label>
        <input type="email">
        <button type="submit">Gönder</button>
    </div>
</main>