@model CodeRollProject.EntityLayer.Concrete.Event

@* @model CodeRollProject.PresentationLayer.Models.UserEventViewModel *@
 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="card-container">
        <div class="card">
            <div class="card-header">Choose Availability</div>
            <div class="card-buttonS">
                <form asp-action="Index" asp-controller="EventFinal" method="post">
                    <input type="radio" name="avaliability" /><span>Available</span><br />
                    <input type="radio" name="avaliability" /><span>Busy</span><br />
                    <input type="radio" name="avaliability" /><span>Uncertain</span><br />
                    <button type="submit">Submit</button>
                </form>
@*                 <div class="card-button"><button class="button1 availableBtn">Available</button></div>
                <div class="card-button"><button class="button1 busyBtn">Busy</button></div>
                <div class="card-button"><button class="button1 uncertainBtn">Uncertain</button></div> *@
            </div>
        </div>
        <div class="card">
            <div class="card-writing">
                <p>DETAILS</p>
            </div>
            <div class="card-list">
                <ul class="list">
                    <li class="listItem"><i class="fa-solid fa-address-card"></i>Toplantı İsmi : @Model.EventName </li>
                    <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Toplantı Tarihi : @Model.EventTime </li>
                    <li class="listItem"><i class="fa-solid fa-location-dot"></i>Toplantı Platformu : @Model.EventPlatform </li>
                    <li class="listItem" style="height:120px"><i class="fa-solid fa-square-plus"></i>Toplantı Açıklaması : @Model.EventDescription </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-list">
                <ul class="list">
                    <li class="listItem"><i class="fa-solid fa-address-card"></i>Katılımcılar</li>
                    <br />
                    @foreach (var item in ViewBag.Users)
                    {
                        <span>İsim : @item.Name </span>
                    }
                </ul>
            </div>
        </div>
    </div>
</main>
