@model EventVoteViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="card-container">
        <div class="card">
            <div class="card-header">Choose Time</div>
            <div class="card-buttonS">
                <form asp-action="Index" asp-controller="EventFinal" method="post" id="my-form">
                    <lable>Name : </lable>                 
                    <input type="text" asp-for="eventt.Votes.FirstOrDefault().ParticipantName" />
                    <br />
@*                     @if (Model.voteOptionn != null && Model.voteOptionn.Count > 0)
 *@                    {
                        <input type="checkbox" asp-for="voteOptionn[0].VoteValue" name="selectedOption" value=@Model.eventt.EventTime1.ToString() />

                        <span>@Model.eventt.EventTime1</span>

                        <br />
                    }
@*                     @if (Model.voteOptionn != null && Model.voteOptionn.Count > 0)
 *@                    {
                        <input type="checkbox" asp-for="voteOptionn[1].VoteValue" name="selectedOption" value="@Model.eventt.EventTime2.ToString()" />

                        <span>@Model.eventt.EventTime2</span>

                        <br />
                    }
@*                     @if (Model.voteOptionn != null && Model.voteOptionn.Count > 0)
 *@                    {
                        <input type="checkbox" asp-for="voteOptionn[2].VoteValue" name="selectedOption" value="@Model.eventt.EventTime3.ToString()" />

                        <span>@Model.eventt.EventTime3</span>

                        <br />
                    }
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-writing">
                <p>EVENT DETAILS</p>
            </div>
            <div class="card-list">
                <ul class="list">
                    <li class="listItem"><i class="fa-solid fa-address-card"></i>Event Name : @Model.eventt.EventName </li>
                    @* <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Event Date : @Model.EventTime1 </li>
                    <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Event Date : @Model.EventTime2 </li>
                    <li class="listItem"><i class="fa-solid fa-calendar-days"></i>Event Date : @Model.EventTime3 </li> *@
                    <li class="listItem"><i class="fa-solid fa-location-dot"></i>Event Platform : @Model.eventt.EventPlatform </li>
                    <li class="listItem" style="height:120px"><i class="fa-solid fa-square-plus"></i>Event Description : @Model.eventt.EventDescription </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-list">
                <ul class="list">
                    <li class="listItem"><i class="fa-solid fa-address-card"></i>Participants</li>
                    <br />
                    @if (Model.voteOptionn != null)
                    {
                        @foreach (var item in Model.voteOptionn)
                        {
                            <span>İsim : @item.Vote.ParticipantName </span>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</main>